#sidebar ul li.active>a,
a[aria-expanded="true"] {
    background: #efb400 !important;
}

#sidebar ul li a:hover {
    color: #efb400 !important;
    background: #efb40020 !important;
}

.pagination li.active a, .pagination li.active a.page-link {
    background: #efb400;
}
